name: ci

on:
  push:
    branches: ["master"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm -r test

      - name: Build web app
        run: pnpm --filter ./apps/web build

      - name: Upload web build artifact
        uses: actions/upload-artifact@v4
        with:
          name: web-next-build
          path: apps/web/.next
          if-no-files-found: error
